@section headScripts {
    <script src="~/AppScripts/TimeKeeping/userEntryProjects-dataSource.js"></script>
    <script src="~/AppScripts/TimeKeeping/userEntries-model.js"></script>
    <script src="~/AppScripts/TimeKeeping/userEntries-dataSource.js"></script>
    <script src="~/AppScripts/TimeKeeping/userEntries-viewModel.js"></script>
    <script src="~/AppScripts/TimeKeeping/userEntriesScheduler-model.js"></script>
    <script src="~/AppScripts/TimeKeeping/userEntriesScheduler-dataSource.js"></script>
    <style>
        .k-edit-form-container {
            padding-left: 12px;
        }
        .k-edit-form-container .k-dropdown {
            width: 450px;
        }
    </style>
}

@if (ViewBag.IsTimeAdmin) {
    @Html.ActionLink("Admin", "Admin", null, new { @class = "btn btn-default btn-sm btn-primary" })
}

<p>@User.Identity.Name</p>

<div id="userEntriesView">
    <div class="panel panel-default">
        <div class="panel-heading" data-bind="html: title"></div>
        <div class="panel-body">
            <div id="timesheet"></div>
        </div>
    </div>
</div>

<script id="editor" type="text/x-kendo-template">
    <p>
        <label>Project: <input data-text-field="text" data-value-field="value" data-role="dropdownlist" name="projectId" data-source="userEntryProjectsDataSource.data().toJSON()" /></label>
    </p>
    <p>
        <label>Start: <input data-role="datetimepicker" name="start" data-interval="15" /></label>
    </p>
    <p>
        <label>End: <input data-role="datetimepicker" name="end" data-interval="15" /></label>
    </p>
</script>

<script id="entry-template" type="text/x-kendo-template">
    <div>
        <strong>#: title #</strong>
        <span>(#: kendo.toString(ms2Time(end - start)) #)</span>
    </div>
</script>

<script>
    kendo.bind($("#userEntriesView"), userEntriesViewModel);
    var timesheet;

    function ms2Time(ms) {
        var secs = ms / 1000;
        ms = Math.floor(ms % 1000);
        var minutes = secs / 60;
        secs = Math.floor(secs % 60);
        var hours = minutes / 60;
        minutes = Math.floor(minutes % 60);
        hours = Math.floor(hours % 24);
        return hours + ":" + kendo.toString(minutes, "00");
    }

    function totalHoursForDate(date) {
        if (timesheet) {
            var from = new Date(date);
            var to = new Date(from);
            to.setDate(to.getDate() + 1);
            var entries = timesheet.occurrencesInRange(from, to);
            //return entries.length;
            var hours = 0;
            debugger;
            for (var i = 0; i < entries.length; i++) {
                var entry = entries[i];
                debugger;
            }
            return hours;
        } else {
            return "---";
        }
    }

   var scheduler = $("#timesheet").kendoScheduler({
        editable: {
            template: $("#editor").html()
        },
        minorTickCount: 4,
        showWorkHours: true,
        workDayStart: new Date("2015/12/28 06:00 AM"),
        workDayEnd: new Date("2015/12/28 06:00 PM"),
        height: 600,
        eventTemplate: $("#entry-template").html(),
        //dateHeaderTemplate: kendo.template("#=kendo.toString(date, 'ddd M/dd')#- (#=totalHoursForDate(date)#)"),
        views: [
            "day",
            { type: "workWeek", selected: true },
            "week",
            "month",
            { type: "timeline", eventHeight: 50 }
        ],
        dataSource: userEntriesSchedulerDataSource,
        save: function (e) {
            var projects = userEntryProjectsDataSource.data().toJSON();
            e.event.title = getTitle(e.event.projectId, projects);
        }
   });
</script>